ansi2html==1.5.2
appdirs==1.4.4
astroid==2.4.1
attrs==19.3.0
backcall==0.1.0
black==19.10b0
bleach==3.1.5
bokeh==2.0.2
Brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
-e git+https://github.com/WesleyTheGeolien/t20-Dash_Well_Viz.git@1f837b11f04372991fc76a665c42b75e01351f2c#egg=dashwellviz
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
idna==2.9
importlib-metadata==1.6.1
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-dash==0.2.1.post1
jupyterlab==2.1.4
jupyterlab-server==1.1.5
kiwisolver==1.2.0
lasio==0.25.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nb-black==1.0.7
nbconvert==5.6.1
nbformat==5.0.6
nodejs==0.1.1
notebook==6.0.3
numpy==1.18.5
optional-django==0.1.0
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pylint==2.5.2
pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
regex==2020.5.14
requests==2.23.0
retrying==1.3.3
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.15.0
striplog==0.8.5
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.2.3
webencodings==0.5.1
welly==0.4.6
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
